<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %} {% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <div class="header-content">
                <a href="/" style="color: white; text-decoration: none;"><div class="logo">Сканити</div></a>
                <a href="/dashboard" class="main-link">Дэшборд</a>
                <a href="/upload" class="main-link">Анализ</a>
                <a href="/auth" class="main-link">Войти</a>
            </div>
        </div>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <div class="container">
            <div class="footer-content">
                <p>&copy; 2025 Сканити. All rights reserved.</p>
                <p>Мазут Продакшн</p>
            </div>
        </div>
    </footer>
</body>
</html>
